body {
  background-color: #fff;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  display: flex;
}

.photos {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 1px;
}

nav {
  background-color: #000;
  padding: .5em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  flex: 100%;
  position: sticky;
  top: 0px;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: end;
  flex: 100%;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.feature {
  width: 200px;
  float:left;
  margin-right: 25px;
}